body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.links {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}

.logo {
    margin-top: 0;
    font-size: 24px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

.sign-up {
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    border-color: #3882F6;
}

.layer-1 img {
    height: auto;
    width: 400px;
    margin-top: 40px;
    border-radius: 4%;
    margin-left: 20px;
}

.layer-1 {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    margin-top: 30px;
    text-align: left;
}

.layer-1.no-picture {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}

h2 {
    background-color: white;
    color: #1F2937;
    margin-bottom: 0;
    padding-top: 10px;
}

.layer-2 {
    background-color: white;
    color: #1F2937;
    display: flex;
    justify-content: space-evenly;
}

.layer-2 img {
    height: auto;
    width: 150px;
    margin-top: 40px;
    border-radius: 4%;
}

.layer-3 {
    background-color: #E5E7EB;
    font-weight: light;
    color: #1F2937;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.layer-3 blockquote {
    max-width: 800px;
    position: relative;
    margin-left: 120px;
}

.layer-3 cite {
    font-style: normal;
    font-weight: bold;
    margin-top: 80px;
    position: relative;
    bottom: 0px;
    right: 200px;
    font-size: 18px;
}

.layer-4 {
    background-color: white;
    display: flex;
    justify-content: center;
}

.text {
    background-color: #3882F6;
    display: flex;
    padding: 0px;
    margin: 60px;
    justify-content: space-evenly;
    border-radius: 5px;
    flex: 1;
}

.signup {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    padding: 8px;
    align-self: center;
    font-weight: bold;
    border-color: white;
}

.actual-text {
    margin-right: 100px;
}